h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 8vw;
    text-align: center;
    text-decoration: underline;
}
body{
    background-color: silver;
}
.gameName{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
    text-align: center;
}
.clock{
    font-size: 10vw;
    border: 9px solid aquamarine;
    margin: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}
.buttons{
    text-align: center;
}
.buttons button{
    height: 8vw;
    width: 9vw;
    background-attachment: fixed;
    border-color: aquamarine;
    background-color: rgb(40, 40, 40);
    color: white;
}
.timeBar{
    text-align: center;
}
.buttons button:hover{
    background-color: aquamarine;
    color: black;
}