
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
    margin: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
h3{
    
    align-items: center;
    text-align: center;
    justify-content: center;
}
.center{
    text-align: center;
}
div.scrollmenu{
    background-color: aliceblue;
    overflow: auto;
    white-space: nowrap;
    padding: 30px;
}
div.scrollmenu img{
    height: 200px;
    padding: 10px;
}
div.scrollmenu a{
    display: contents;
    color: rgb(70, 254, 70);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
img+b::after{
    content: "name";
    display: inline-block;
    position: relative;
    z-index: 1;
    right: 20vw;
    left: 20vw;
    font-size: 0.75rem;
    color: blue;
}
li .game{
    align-items: center;
    border-right: 1px solid #bbb;
}