.star-rating {
  display: flex;
  direction: row;
}

.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 2rem;
}

.star-rating .on .star {
  color: gold;
}

.star-rating .off .star {
  color: #ccc;
}