.navigation{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px 12px;
    overflow: hidden;
}
li{
    float: left;
    align-items: center;
    padding: 2px;
    border-right: 2px solid #bbb;
}
li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 10px 12px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: #27f0a6;
    color: black;
}
footer{
    background-color: #27f0a6;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 3vw;
    width: 100%;
}
footer a{
    float: right;
    display: flex;
    color: #111;
    font-size: 2em;
    text-align: right;
    padding: 8px 10px;
}
footer p{
    float: left;
    display: flex;
    font-size: 2em;
    color: #111;
    text-align: center;
    padding: 8px 10px;
}